<h1>Admin Dashboard</h1>

<%= current_user.username %><br />

<%= link_to "View All Items", items_path %><br />

<%= link_to "Edit my Profile", edit_admin_dashboard_path(current_user) %><br />

<%= link_to "Add new item", new_admin_item_path %><br />

Filter Orders By:
<%#= form_tag '', method: :get do %>
  <%#= select_tag ["Ordered", "Paid", "Cancelled", "Completed"] %>
  <%#= submit_tag 'Filter Orders' %>
<%# end %>
<%#= form_for @orders do |f| %>
  <%#= f.select :status, ["Ordered", "Paid", "Cancelled", "Completed"] %>
  <%#= f.submit "Filter Orders" %>
<%# end %>

<h5>Order Status Summaries</h5>
<table>
  <tr>
    <td><%= link_to "All Orders:", admin_dashboard_path(:filter => "All Orders") %></td>
    <td><%= @order_count.count %></td>
  <tr>
    <td><%= link_to "Ordered:", admin_dashboard_path(:filter => "Ordered") %></td>
    <td><%= @order_count.where(status: "Ordered").count %></td>
  </tr>
  <tr>
    <td><%= link_to "Paid:", admin_dashboard_path(:filter => "Paid") %></td>
    <td><%= @order_count.where(status: "Paid").count %></td>
  </tr>
  <tr>
    <td><%= link_to "Cancelled:", admin_dashboard_path(:filter => "Cancelled") %></td>
    <td><%= @order_count.where(status: "Cancelled").count %></td>
  </tr>
  <tr>
    <td><%= link_to "Completed:", admin_dashboard_path(:filter => "Completed") %></td>
    <td><%= @order_count.where(status: "Completed").count %></td>
  </tr>
</table>
<br />

<% @orders.each do |order| %>
  <%= link_to "Order #{order.id}, #{order.user.username}", user_order_path(order.user, order) %>
  <%= form_for order, url: admin_dashboard_path(id: order.id), method: "PUT" do |f| %>
    <%= f.label "Update Order Status: " %>
    <%= render partial: order.status, :locals => { :f => f} %>
    <%= f.submit "Update Status" %>
  <% end %>
<% end %>
