<h1>Admin Dashboard</h1>

<%= current_user.username %><br />

<%= link_to "View All Items", admin_items_path %><br />

<%= link_to "Edit my Profile", edit_admin_dashboard_path(current_user) %><br />

<%= link_to "Add new item", new_admin_item_path %><br />

<h5>Order Status Summaries</h5>
<ul>
  <li>Ordered: <%= @orders.where(status: "Ordered").count %></li>
  <li>Paid: <%= @orders.where(status: "Paid").count %></li>
  <li>Cancelled: <%= @orders.where(status: "Cancelled").count %></li>
  <li>Completed: <%= @orders.where(status: "Completed").count %></li>
</ul>

<% @orders.each do |order| %>
  <%= link_to "Order #{order.id}, #{order.user.username}", user_order_path(order.user, order) %>
<% end %>
