<div class="form_container">
  <div class="user_forms">
    <h1> <%= @user.first_name %> <%= @user.last_name %></h1>
    <h2> <%= @user.username %> </h2>
    <h2> <%= @user.email %> </h2>
    <% if current_user.admin? %>
      <h2> <%= @user.role %> </h2>

      <%= form_for @user do |f| %>
        <%= f.label :role %>
        <%= f.select :role, ["default", "admin"] %>

        <%= f.submit "Update Role" %>
      <% end %>
    <% end %>
  </div>
</div>