<h3><%= @order.user.username %></h3>

<table>
  <tr>
    <td>Date: </td>
    <td><%= @order.created_at.to_date %></td>
  </tr>
  <tr>
    <td>Time: </td>
    <td><%= @order.created_at.strftime("%I:%M%p") %></td>
  </tr>
  <tr>
    <td>Purchaser: </td>
    <td><%= @order.user.first_name %> <%= @order.user.last_name %></td>
  </tr>
  <tr>
    <td>Address: </td>
    <td>Address: <%= @order.user.address %>, <%=@order.user.city %>, <%=@order.user.state %>, <%=@order.user.zipcode %></td>
  </tr>
</table>

<table>
  <tr>
    <th>Items</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
  </tr>

  <% @order.items.each do |item| %>
    <tr>
      <td><%= link_to "#{item.title}", item_path(item) %></td>
      <td><%= item.get_quantity(@order) %></td>
      <td>$<%= number_with_precision(item.price, :precision => 2) %></td>
      <td>$<%= number_with_precision(item.cart_subtotal(@order), :precision => 2) %></td>
    </tr>
  <% end %>
</table>

<h3>Total: $<%= number_with_precision(@order.total, :precision => 2) %></h3>
<h5>Status: <%= @order.status %></h5>
