<% @items.each do |item, values| %>
  <p>Product: <%= item.title %></p>
  <p>Description: <%= item.description %></p>
  <p>Price: $<%= number_with_precision(item.price, :precision => 2) %></p>
  <p>Quantity: <%= values[:quantity] %></p>
  <p>Subtotal: $<%= values[:subtotal] %></p>
<% end %>
<p>Total <%=  %></p>

<%#number_with_precision(@item.price, :precision => 2) %>