<div>
  <div class="grid">
  <% @items.each do |item| %>
    <article class='item_container'>
      <img src="<%= item.image_att %>" >
      <%= link_to item.title, item_path(item), class: "link" %>
      $ <%= number_with_precision(item.price, :precision => 2) %>

      <% if item.active? %>
        <%= link_to "Add to Cart", carts_path(item_id: item.id), method: :post, class: "btn" %>
      <% else %>
        Item Retired
      <% end %>

      <% if current_admin? %>
        Status: <%= item.status %><br />
        <%= link_to "Edit Item", edit_admin_item_path(item), class: "btn" %>
      <% end %>
    </article>
    <% end %>
  </div>
<footer class="kaminari"> 
<%= paginate @items %>
<div><%= page_entries_info @items %></div>
</footer>
</div>
