<div>
  <div class="grid">
  <% @items.each do |item| %>
    <article class='item_container'>
      <img src="http://via.placeholder.com/200x150" alt="Image Placeholder">
      <%= link_to item.title, item_path(item) %>
      $ <%= number_with_precision(item.price, :precision => 2) %>

      <% if item.active? %>
        <%= link_to "Add to Cart", carts_path(item_id: item.id), method: :post %>
      <% else %>
        Item Retired
      <% end %>

      <% if current_admin? %>
        Status: <%= item.status %><br />
        <%= link_to "Edit Item", edit_admin_item_path(item) %>
      <% end %>
    </article>
    <% end %>
  </div>
</div>