<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h2> <%= @user.email %> </h2>
<h2> <%= @user.address %>  </h2>
<h2>  </h2>
<h2> <%= @user.city %>, <%= @user.state %> <%= @user.zipcode %></h2>
